{% extends "base.html" %}
{% load static %}
{% block content %}
      <h1>{{id}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <th scope="row">{{i.userId}}</th>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.body}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <h1>This is the app page</h1> 
    <img src="{% static 'image/bird2.webp' %}" alt="bird" />
    {% endblock content %}